<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="prewiew-image">
					<img class="img-fluid" src="{{ "images/dest/video.png" | relURL}}" alt="" title="">
					<a href="#" class="mask"></a>
				</div>
			</div>
			<div class="col-md-6">
				<h2 class="h-bg"><span class="bg">{{ i18n "about"}}</span> About company</h2>
                    {{ $headless := .Site.GetPage "/frontpage/sections" }}
                    {{ ($headless.Resources.GetMatch "about.md").Content }}
					<a href="#" class="btn green-btn">{{ i18n "moreDetails" }}</a>
			</div>
		</div>
	</div>
</section>
