
<section id="siries" class="py-5">
           {{ $headless := .Site.GetPage "/frontpage/sections" }}
           {{ $header := ($headless.Resources.GetMatch "kontur_section.md").Title }}
	<div class="container">
		<h2 class="h-bg h-bg-big text-center">{{ printf $header | safeHTML}}</h2>
		<div class="description">
           {{ ($headless.Resources.GetMatch "kontur_section.md").Content }}
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-3">
                        {{ $headless1 := .Site.GetPage "/frontpage/kontur_cards" }}
                            <div class="kontur">
                                 <a href="#" class="kontur-image">
                                      <!-- TODO: Move images to md files -->
                                      <img src="{{ ($headless1.Resources.GetMatch "kontur.md").Params.image | relURL }}" alt="" title="" class="img-fluid">
                                 </a>
                                 <div class="description">
                                       <h4 class="kontur-title">{{ ($headless1.Resources.GetMatch "kontur.md").Title | safeHTML }}</h4>
                                      {{ ($headless1.Resources.GetMatch "kontur.md").Content }}
                                      <a  href="{{ relLangURL "products/kontur" }}" class="btn btn-block green-btn">{{ i18n "moreDetails" }}</a>
                                 </div>
                           </div>
			</div>
			<div class="col-md-6 col-lg-3">
                        {{ $headless2 := .Site.GetPage "/frontpage/kontur_cards" }}
                            <div class="kontur">
                                <a href="#" class="kontur-image">
                                     <!-- TODO: Move images to md files -->
                                      <img src="{{ ($headless2.Resources.GetMatch "kontur_start.md").Params.image | relURL }}" alt="" title="" class="img-fluid">
                                </a>
                                <div class="description">
                                      <h4 class="kontur-title">{{ ($headless1.Resources.GetMatch "kontur_start.md").Title | safeHTML }}</h4>
                                      {{ ($headless2.Resources.GetMatch "kontur_start.md").Content }}
                                     <a  href="{{ relLangURL "products/kontur_start" }}" class="btn btn-block green-btn">{{ i18n "moreDetails" }}</a>
                                </div>
                           </div>
			</div>
			<div class="col-md-6 col-lg-3">
                        {{ $headless3 := .Site.GetPage "/frontpage/kontur_cards" }}
                            <div class="kontur">
                                <a href="#" class="kontur-image">
                                     <!-- TODO: Move images to md files -->
                                      <img src="{{ ($headless3.Resources.GetMatch "kontur_rost.md").Params.image | relURL }}" alt="" title="" class="img-fluid">
                                </a>
                                <div class="description">
                                      <h4 class="kontur-title">{{ ($headless3.Resources.GetMatch "kontur_rost.md").Title | safeHTML }}</h4>
                                      {{ ($headless2.Resources.GetMatch "kontur_rost.md").Content }}
                                     <a href="{{ relLangURL "products/kontur_rost" }}" class="btn btn-block green-btn">{{ i18n "moreDetails" }}</a>
                                </div>
                           </div>
			</div>
			<div class="col-md-6 col-lg-3">
                        {{ $headless4 := .Site.GetPage "/frontpage/kontur_cards" }}
                            <div class="kontur">
                                <a href="#" class="kontur-image">
                                     <!-- TODO: Move images to md files -->
                                      <img src="{{ ($headless4.Resources.GetMatch "kontur_antistress.md").Params.image | relURL }}" alt="" title="" class="img-fluid">
                                </a>
                                <div class="description">
                                      <h4 class="kontur-title">{{ ($headless4.Resources.GetMatch "kontur_antistress.md").Title | safeHTML }}</h4>
                                      {{ ($headless2.Resources.GetMatch "kontur_antistress.md").Content }}
                                     <a href="{{ relLangURL "products/kontur_antistress" }}" class="btn btn-block green-btn">{{ i18n "moreDetails" }}</a>
                                </div>
                           </div>
			</div>
		</div>
	</div>
</section>
